.square {
	height:120px;
	width:120px;	
	border-radius: 30px 30px 30px 30px;
	cursor: pointer;
}
.navbar .brand { margin-left: 0; /*color: #FFF;*/ }
#cassa_outer{
	margin-top: 65px;
	margin-bottom: 170px;
}
.logo_epson{
	width: 100%;
}
#stato_stampante{
	font-size: 50px;
	vertical-align: middle;
	line-height: 60px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#blocco_basso{
	margin-top: 10px;
	margin-bottom: 10px;
}
#totale_aggiornato_importo {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
}
.btn-large {
    font-size: 40px;
}
#pagamento{
	margin-top: 3px;
}
#menu{
	position: fixed;
	text-align: center;
	margin-top:  -20px;
}
th:first-child{
	width: 78%;
}
#menu .square {
	margin: 20px;
	margin-left: 25px;	
}
#printerResponseOpen {
	margin-top: -14px;
    padding: 6px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}